<div>
    <div class="modal-header">
		Смена пароля
	</div>
    <div class="modal-body">
	<form class="form-horizontal well" name="change_password_form" novalidate>
		<fieldset>

			<div class="form-group" ng-class="{ 'has-error' : change_password_form.inputOldPass.$invalid && change_password_form.inputOldPass.$touched }">
				<label class="col-lg-4 control-label" for="inputOldPass">Введите старый пароль</label>
				<div class="col-lg-8">
					<input class="form-control input-sm" type="password" ng-model="old_password" id="inputOldPass" name="inputOldPass" placeholder="Старый пароль" required />
					<p ng-show="change_password_form.inputOldPass.$invalid && change_password_form.inputOldPass.$touched" class="help-block">Введите старый пароль</p>
				</div>
			</div>

            <div class="form-group" ng-class="{ 'has-error' : change_password_form.inputNewPass.$invalid && change_password_form.inputNewPass.$touched }">
				<label class="col-lg-4 control-label" for="inputNewPass">Введите новый пароль</label>
				<div class="col-lg-8">
					<input class="form-control input-sm" type="password" ng-model="new_password" id="inputNewPass" name="inputNewPass" placeholder="Новый пароль" required />
					<p ng-show="change_password_form.inputNewPass.$invalid && change_password_form.inputNewPass.$touched" class="help-block">Введите новый пароль</p>
				</div>
			</div>

            <div class="form-group" ng-class="{ 'has-error' : change_password_form.confirmPass.$invalid && change_password_form.confirmPass.$touched }">
				<label class="col-lg-4 control-label" for="confirmPass">Подтвердите пароль</label>
				<div class="col-lg-8">
					<input class="form-control input-sm" type="password" ng-model="confirm_password" id="confirmPass" name="confirmPass" placeholder="Подтвердите пароль" required />
					<p ng-show="change_password_form.confirmPass.$invalid && change_password_form.confirmPass.$touched" class="help-block">Введите новый пароль еще раз</p>
				</div>
			</div>
            </fieldset>
        </form>
        </div>

		<div class="modal-footer">
					<input type="button" class="btn btn-success pull-right" ng-click="submit()" value="Отправить" ng-disabled="log_form.$invalid"/>
			</div>
	</form>
	<div ng-show="error">
		<div class="alert alert-dismissible alert-danger">
			<strong>{$ error $}</strong>
		</div>
	</div>
</div>