<div class="col-md-6 col-md-offset-3">
	<form class="form-horizontal well" name="reg_form" novalidate>
		<fieldset>
			<legend>РЕГИСТРАЦИЯ</legend>
			<div class="form-group" ng-class="{ 'has-error' : reg_form.inputLogin.$dirty && reg_form.inputLogin.$invalid }">
				<label class="control-label col-lg-4" for="inputLogin">Введите логин</label>
				<div class="col-lg-8"> 
					<input class="form-control input-sm" type="text" ng-model="vm.new_user.name" id="inputLogin" name="inputLogin" placeholder="Логин" required="" username-unique ng-minlength=3 ng-maxlength=20 />
					<div ng-show="reg_form.inputLogin.$dirty && reg_form.inputLogin.$invalid">
						<p class="help-block" ng-show="reg_form.inputLogin.$error.required">required</p>
						<p class="help-block" ng-show="reg_form.inputLogin.$error.minlength">min 3</p>
						<p class="help-block" ng-show="reg_form.inputLogin.$error.maxlength">max 20</p>
						<p class="help-block" ng-show="reg_form.inputLogin.$error.unique-name">Пользователь с таким именем существует</p>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : reg_form.inputEmail.$dirty && reg_form.inputEmail.$invalid }">
				<label class="col-lg-4 control-label" for="inputEmail">Введите адресс эл. почты</label>
				<div class="col-lg-8">
					<input class="form-control input-sm" type="email" ng-model="vm.new_user.email" id="inputEmail" name="inputEmail" placeholder="Адрес эл. почты" required="" email-unique />
					<div ng-show="reg_form.inputEmail.$dirty && reg_form.inputEmail.$invalid">
						<p class="help-block" ng-show="reg_form.inputEmail.$error.required">required</p>
						<p class="help-block" ng-show="reg_form.inputEmail.$error.unique-email">Пользователь с таким именем существует</p>
					</div>
					<!-- <p ng-show="reg_form.inputEmail.$invalid && reg_form.inputEmail.$touched" class="help-block">Вы ввели не верный адрес эл. почты!</p> -->
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : reg_form.inputPass.$invalid && reg_form.inputPass.$touched }">
				<label class="col-lg-4 control-label" for="inputPass">Введите пароль</label>
				<div class="col-lg-8">
					<input class="form-control input-sm" type="password" ng-model="vm.new_user.password" id="inputPass" name="inputPass" placeholder="Пароль" required="" />
					<p ng-show="reg_form.inputPass.$invalid && reg_form.inputPass.$touched" class="help-block">Введите пароль</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="button" class="btn btn-success pull-right" ng-click="vm.submit()" value="Отправить" ng-disabled="reg_form.$invalid"/>
				</div>
			</div>
		</fieldset>
	</form>
	<div ng-show="error">
		<div class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{$ error $}</strong>
		</div>
	</div>
</div>